---
---
<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">
        {% include nav.html %}
        
        <main class="main-content">
            {% include cover.html %}

            <div class="sayagata">
                <div class="container">
                    <section id="faq" class="section">
                        <h4 class="center-align">Frequently Asked Questions</h4>
                        <div class="row">
                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">shopping_cart</i></h2>
                                <h5>How much does it cost?</h5>

                                <p>Tickets are free, 100% free.</p>
                                <p class="light">
                                    Tickets will be released soon.
                                    <a href="http://hacktheburgh.com/register-interest">Register interest</a> now to avoid disappointment.
                                </p>
                            </div>

                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">group</i></h2>
                                <h5>Who may attend?</h5>

                                <p>Any student currently enrolled in full-time further education may join -- if you graduated less than a year ago, you're also eligible.</p>

                                <p class="light">If you're between 16 to 18 years of age, you may also join!</p>
                            </div>

                            <div class="col s12 m4">
                                <h2 class="center teal-text"><i class="material-icons">play_arrow</i></h2>
                                <h5>I can't code, can I join?</h5>

                                <p>If you're new to programming, a hackathon is the best place for you to go.</p>
                                
                                <p class="light">There'll be plenty of mentors ready to assist you with whatever problem you face.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        {% include footer.html %}
        
        {% include scripts.html %}
    </body>

</html>
