---
---
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

    {% include head.html %}

    <body id="top">
        {% include nav.html %}
        
        <main class="main-content">
            {% include cover.html %}

            {% include faq.html %}

            {% include location.html %}

            {% include schedule.html %}

            {% include sponsors.html %}
        </main>

        {% include footer.html %}
        
        {% include scripts.html %}

        <script src="{{ site.baseurl }}/static/js/index.js"></script>

        <a id="mlh-trust-badge" href="https://mlh.io/seasons/eu-2017/events?utm_source=eu-2017&utm_medium=TrustBadge&utm_campaign=eu-2017&utm_content=grey" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/grey.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>
    </body>

</html>
