---
---
<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">
        {% include header.html %}

        <div class="cover-wrapper">

            <div class="cover-wrapper-inner">

                <div class="cover-container">

                    <div class="cover">
                        <img class="img-responsive" src="/static/img/htb-logo2016-color.png">

                        <h2>The hackathon from beyond the wall will be returning soon.</h2>
                    </div>

                </div> <!-- .cover-wrapper-inner -->

            </div> <!-- .cover-wrapper -->
        </div>
        
        {% include scripts.html %}
    </body>

</html>
