---
permalink: /legal/
---
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

    {% include head.html %}

    <body id="top">
        
        <main class="main-content seigaiha">
            <div class="row">
                <div class="col s12">
                    <div class="container">
                        <section id="sponsors-section" class="section">
                            <h2 class="center-align">Legal</h2>

                            <h5>There are a couple important things all participants should read:</h5>
                            <ul class="collection">
                                <a class="collection-item" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>
                                <a class="collection-item" href="/static/legal/HTB_PhotographyPolicy.pdf">HTB 2017 Photography Policy</a>
                            </ul>
                            
                            <h5>Especially if you're under 18:</h5>
                            <div class="collection">
                                <a class="collection-item" href="/static/legal/HTB_ChildSafeguardingPolicy.pdf">HTB 2017 Child Safeguarding Policy</a>
                                <a class="collection-item" href="/static/legal/HTB_ParentalConsentForm.pdf">HTB 2017 Parental Consent Form</a>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}
        
        {% include scripts.html %}
    </body>

</html>
