---
permalink: /live/
navigation:
#    - text: Stream
#      id: "stream"
#      url: "live/stream.html"
    - text: Schedule
      id: "schedule"
      url: "live/schedule.html"
#    - text: Challenges
#      id: "challenges"
#      url: "live/challenges.html"
#    - text: Information
#      id: "info"
#      url: "live/info.html"
---
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

    {% include head.html %}

    <body id="live" class="teal">
        
        <!--
            - Information
            - Stream
            - Schedule
            - Challenges
            - FAQ
        -->

        <nav class="nav-extended teal">
            <div class="nav-content">
                <ul class="tabs tabs-transparent tabs-fixed-width">
                {% for item in page.navigation %}
                    <li class="tab"><a href="#{{ item.id }}">{{ item.text }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </nav>

        <main class="main-content padded">
            {% for item in page.navigation %}
                <div id="{{ item.id }}" class="col s12">{% include {{ item.url }} %}</div>
            {% endfor %}
        </main>



        <main class="main-content">
            {% include live/schedule.html %}
        </main>
        
        {% include scripts.html %}

        <!-- This does not work. -->
        <!-- <script>
        $(document).ready(function(){
            $('.tabs').tabs({
                swipeable: true
            })
        })
        </script> -->
    </body>

</html>
