---
permalink: /schedule/
---
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

    {% include head.html %}

    <body id="top">
        {% include nav.html %}
        <main class="main-content subtle-sayagata">
            <div class="row">
    <div class="container">
        <div class="timeline">
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">
                            Registration
                            <span class="right">Saturday 4pm</span>
                        </span>
                        <p>Content</p>
                    </div>
                </div>
                <div class="timeline-badge blue white-text"><i class="material-icons">language</i></div>
            </div>

            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Tile</span>
                        <p>Content</p>
                    </div>
                </div>

                <div class="timeline-badge red white-text"><i class="material-icons">work</i></div>
            </div>

            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Tile</span>
                        <p>Content</p>
                    </div>
                </div>
                <div class="timeline-badge green white-text"><i class="material-icons">person</i></div>
            </div>
        </div>
    </div>  
</div>
        </main>

        {% include footer.html %}
        
        {% include scripts.html %}

        <a id="mlh-trust-badge" href="https://mlh.io/seasons/eu-2017/events?utm_source=eu-2017&utm_medium=TrustBadge&utm_campaign=eu-2017&utm_content=grey" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/grey.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>
    </body>

</html>
