<div class="row cover center-align parallax-container">

    <section>
        <img id="cover-img" src="/static/img/htb-screen.svg" alt="Hack the Burgh 2017">
        
        <p>
            The hackathon from beyond the wall is starting Saturday 10am!
        </p>

        <a class="waves-effect btn" href="{{ site.baseurl }}/live">Live</a>
        <a class="waves-effect btn" href="https://www.facebook.com/events/1824748351075131/">Facebook</a>
        <a class="waves-effect btn" href="https://htb2017.eventbrite.co.uk">Eventbrite</a>

    </section>

    <footer>
        <p>
            Looking for the schedule and other important information? Visit the Live webpage above.
        </p>
    </footer>

    <div class="parallax"><img src="/static/img/htb-splash.opt.jpg"></div>
    
</div>
