<div class="row cover center-align parallax-container">

    <section>
        <img id="cover-img" src="/static/img/htb-screen.svg" alt="Hack the Burgh 2017">
        
        <p>
            The hackathon from beyond the wall will be returning 18th - 19th of March!
        </p>
        
        <a class="waves-effect btn" href="https://www.facebook.com/events/1824748351075131/">Facebook</a>
        <a class="waves-effect btn" href="https://htb2017.eventbrite.co.uk">Eventbrite</a>

    </section>

    <footer>
        <p>
            Interested in sponsoring the hackathon?
            <br>
            Contact us at <a href="mailto:hello@hacktheburgh.com">hello@hacktheburgh.com</a>.
        </p>
    </footer>

    <div class="parallax"><img src="/static/img/htb-splash.opt.jpg"></div>
    
</div>
