<footer class="page-footer teal" style="-top: 0;">
	<div class="footer-copyright">
        <div class="container">
        	<a class="grey-text text-lighten-2" href="http://comp-soc.com">CompSoc Edinburgh</a> ♥ You
        	<a class="grey-text text-lighten-2 right" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a>
        </div>
    </div>
</footer>
    <!-- 
<footer class="page-footer teal">
    <div class="container">
    	<div class="section">
	        <div class="row white-text">
	        	<a class="grey-text text-lighten-2" href="http://comp-soc.com">CompSoc</a> ❤︎ You
	        </div>
        </div>
    </div>    
</footer>
 -->