<div class="row">
	<div class="container">
		
		<section id="reimbursement-section" class="section">
			<h4 class="center-align">Travel Reimbursements</h4>
			<p>If you are coming from outside Edinburgh, we will able to reimburse your travel. Please send a scanned copy of all of your tickets and receipts to <a href="mailto:hello@hacktheburgh.com?Subject=Travel%20reimbursement" target="_top">hello@hacktheburgh.com</a></p>

				<table class="responsive-table striped">
					<thead>
						<tr>
							<th>Origin</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Scotland (excluding Edinburgh)</td>
							<td>up to £20</td>
						</tr>
						<tr>
							<td>Northern England + Midlands</td>
							<td>up to £40</td>
						</tr>
						<tr>
							<td>Southern England and EU</td>
							<td>up to £50</td>
						</tr>
					</tbody>
				</table>
		</section>
	</div>
</div>
