<div class="row seigaiha">
    <a class="anchor" id="sponsors"></a>

    <div class="col s12 center-align">
        <div class="container">
            <section id="sponsors-section" class="section">
                <h4 class="center-align">Sponsors</h4>

                <div class="row gold">
                    <div class="col s5">
                        <a href="https://www.blackrock.com/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-blackrock.png">
                        </a>
                    </div>
                    <div class="col s5 push-s2">
                        <a href="https://www.morganstanley.com/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-morganstanley.png">
                        </a>
                    </div>
                </div>
                <div class='row separator'>
                    <div class="col s6 push-s3">
                        <hr>
                    </div>
                </div>

                <div class="row silver">

                    <div class="col s3 push-s1">
                        <a href="https://google.com">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-google.png">
                        </a>
                    </div>

                    <div class="col s2 push-s2">
                        <a href="https://www.arm.com/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-arm.png">
                        </a>
                    </div>
                    <div class="col s2 push-s3">
                        <a href="http://www.toshiba-medical.eu/uk/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-toshibamedical.png">
                        </a>
                    </div>
                </div>
                <div class='row separator'>
                    <div class="col s4 push-s4">
                        <hr>
                    </div>
                </div>

                <div class="row brilver">
                    <div class="col s2 push-s2">
                        <a href="https://www.bloomberg.com/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-bloomberg.png">
                        </a>
                    </div>

                    <div class="col s2 push-s3">
                        <a href="https://github.com/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-github.png">
                        </a>
                    </div>

                    <div class="col s2 push-s4">
                        <a href="http://www.aigaming.com/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-aigaming.png">
                        </a>
                    </div>
                </div>
                
                <div class='row separator'>
                    <div class="col s2 push-s5">
                        <hr>
                    </div>
                </div>

                <br>
                <h4>Proudly hosted by</h4>
                <div class="row hosts">
                    <div class="col s4 push-s2">
                        <a href="http://comp-soc.com">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-compsoc.png">
                        </a>
                    </div>
                    <div class="col s4 push-s2">
                        <a href="http://www.ed.ac.uk/informatics/">
                            <img class="responsive-img" src="{{ site.url }}/static/img/sponsors/logo-informatics.gif">
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
