<div class="content">
	<div class="row center-align">
	    <div class="container">
	        <div class="col s12 m10 push-m1 test-bg" >
		        <h1>
		        	<span id="countdown-hours">00</span>:<span id="countdown-minutes">00</span>:<span id="countdown-seconds">00</span>
	        	</h1>
		        <h4>until opening ceremony</h4>
	        </div>
	    </div>
	</div>
</div>
<div id="filler"></div>
<div id="social-cards">
	<div class="row">
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/static/img/forum-col.jpg">
					<span class="card-title">@ARM</span>
				</div>
				<div class="card-content">
					<p>We had an epic time this past weekend at @Hack_Cambridge #recurse!
A big shout out to @ARMEducation  @ARMmbed & the #ARMonCampus Team!</p>
				</div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/static/img/forum-col.jpg">
					<span class="card-title">@ARM</span>
				</div>
				<div class="card-content">
					<p>We had an epic time this past weekend at @Hack_Cambridge #recurse!
A big shout out to @ARMEducation  @ARMmbed & the #ARMonCampus Team!</p>
				</div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/static/img/forum-col.jpg">
					<span class="card-title">@ARM</span>
				</div>
				<div class="card-content">
					<p>We had an epic time this past weekend at @Hack_Cambridge #recurse!
A big shout out to @ARMEducation  @ARMmbed & the #ARMonCampus Team!</p>
				</div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/static/img/forum-col.jpg">
					<span class="card-title">@ARM</span>
				</div>
				<div class="card-content">
					<p>We had an epic time this past weekend at @Hack_Cambridge #recurse!
A big shout out to @ARMEducation  @ARMmbed & the #ARMonCampus Team!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<p><b>footer</b> (fixed height)</p>
</div>