---
---

$font-family: "Raleway",Helvetica,Arial,sans-serif

html, body
	height: 100%

// Background pattern from Subtle Patterns
.sayagata
	background-image: url(../img/sayagata-400px.png)
	background-repeat: repeat

@import "nav"
@import "cover"
@import "footer"

.main-content h4
	font-family: $font-family
