/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    background-image: url('../img/htb-splash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.cover-wrapper-img {
    display: table-row;
    vertical-align: top;

    > div {
        padding-top: 10px;
        @media (min-width: 992px) {
            padding-top: 10%;
        }
    }
}

.cover-wrapper-headers {
    display: table-row;
    vertical-align: middle;
}

.cover-wrapper-buttons {
    display: table-row;
    vertical-align: bottom;

    > div {
        padding-bottom: 10px;
    }
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
    

    @media (min-width: 992px) {
        /* Give content a max width */
        width: 900px;
    }

    padding: 0 20px;
    // padding-top: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);

    img {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }

    h2 {
        font-weight: 700;
    }
    
    h4 {
        padding-bottom: 20px;

        > a {
            color: #ccc;
        }
    }
    
    .btn {
        margin-bottom: 5px;
    }

}

.btn-cover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border: #000;
}
